<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://makinahmet.github.io/abmcss.github.io/abmcss/abm.css">
    </head>

    <body class="max-width-1 mt-5 bg-black-4">
        <!-- NAVBAR -->
        <div class="row mt-10 flex-container vertical-align-center bg-black-4">
            <!-- Navbar logo or brand -->
            <div class="col-2 justify-content-center p-20">
                <img class="image navbar-logo" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" />
            </div>
            <!-- (A) MENU WRAPPER -->
            <div class="hamnav col-10">
                <!-- (B) THE HAMBURGER -->
                <label for="hamburger" class="fs-l">☰</label>
                <input type="checkbox" id="hamburger" class="hamChekbox"/>
            
                <!-- (C) MENU ITEMS -->
                <div class="hamitems">
                <!-- Navbar start -->
                    <div class="flex-container vertical-align-center p-20">
                            <!-- Navbar inline menu -->
                        <div class="ml-10"><a href="#" class="no-decoration text-white fs-xxs">HOME |</a></div>
                        <div class="ml-10"><a href="#" class="no-decoration text-white fs-xxs">ABOUT |</a></div>
                        <div class="ml-10"><a href="#" class="no-decoration text-white fs-xxs">CONTACT</a></div>
                    </div>
                    <!-- Navbar end -->
                </div>
            </div>
        </div>    
        <!-- NAVBAR -->

        <!-- CONTENT -->
        <div class="row flex-container bg-white-0">
            <div class="row position-relative">
                <div class="row">
                    <img src="images/hero.png" class="image">
                </div>
                <div class="row p-20 flex-container position-absolute from-top-50">
                    <div class="col-6 radius-5 p-10" style="background: rgba(0, 0, 0, 0.2);">
                        <span class="text-white fs-l">Ready to fly?<br /> Sign Up Today And Get Free Ticket!</span>
                    </div>
                    <div class="col-6 vertical-align-center">
                        <form acition="#" class="forms radius-5">
                            <div class="col-12 justify-content-center mt-5">
                                <input type="text" class="input-text m-5 border-none" placeholder="E-mail address">
                                <button class="btn-outline btn-light p-5 fs-xxs radius-5 bg-blue-2 border-blue-1 vh-5 border-2">Get Free Ticket!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTENT -->

        <!-- FOOTER -->
        <div class="row flex-container">
            <div class="col-12 justify-content-center vertical-align-center vh-5 bg-black-4">
                <span class="text-white fs-xxs"> © 2024 www.yoursite.com, All rights reserved</span>
            </div>
        </div>
        <!-- FOOTER -->
    </body>
</html>



<div class="row bg-white-0">
<textarea class="row bg-green-2 radius-5 mt-20" wrap="off" rows="50">
    <!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://makinahmet.github.io/abmcss.github.io/abmcss/abm.css">
        </head>
    
        <body class="max-width-1 mt-5 bg-black-4">
            <!-- NAVBAR -->
            <div class="row mt-10 flex-container vertical-align-center bg-black-4">
                <!-- Navbar logo or brand -->
                <div class="col-2 justify-content-center p-20">
                    <img class="image navbar-logo" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" />
                </div>
                <!-- (A) MENU WRAPPER -->
                <div class="hamnav col-10">
                    <!-- (B) THE HAMBURGER -->
                    <label for="hamburger" class="fs-l">☰</label>
                    <input type="checkbox" id="hamburger" class="hamChekbox"/>
                
                    <!-- (C) MENU ITEMS -->
                    <div class="hamitems">
                    <!-- Navbar start -->
                        <div class="flex-container vertical-align-center p-20">
                                <!-- Navbar inline menu -->
                            <div class="ml-10"><a href="#" class="no-decoration text-white fs-xxs">HOME |</a></div>
                            <div class="ml-10"><a href="#" class="no-decoration text-white fs-xxs">ABOUT |</a></div>
                            <div class="ml-10"><a href="#" class="no-decoration text-white fs-xxs">CONTACT</a></div>
                        </div>
                        <!-- Navbar end -->
                    </div>
                </div>
            </div>    
            <!-- NAVBAR -->
    
            <!-- CONTENT -->
            <div class="row flex-container bg-white-0">
                <div class="row position-relative">
                    <div class="row">
                        <img src="images/hero.png" class="image">
                    </div>
                    <div class="row p-20 flex-container position-absolute from-top-50">
                        <div class="col-6 radius-5 p-10" style="background: rgba(0, 0, 0, 0.2);">
                            <span class="text-white fs-l">Ready to fly?<br /> Sign Up Today And Get Free Ticket!</span>
                        </div>
                        <div class="col-6 vertical-align-center">
                            <form acition="#" class="radius-5">
                                <div class="col-12 justify-content-center mt-5">
                                    <input type="text" class="input-text m-5 border-none" placeholder="E-mail address">
                                    <button class="btn-outline btn-light p-5 fs-xxs radius-5 bg-blue-2 border-blue-1 vh-5 border-2">Get Free Ticket!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTENT -->
    
            <!-- FOOTER -->
            <div class="row flex-container">
                <div class="col-12 justify-content-center vertical-align-center vh-5 bg-black-4">
                    <span class="text-white fs-xxs"> © 2024 www.yoursite.com, All rights reserved</span>
                </div>
            </div>
            <!-- FOOTER -->
        </body>
    </html>
</textarea>
</div>