:root {
  /*red pallette*/
  --red-0 : red;
  --red-1 : #F8B195;
  --red-2 : #F67280;
  --red-3 : #C06C84;
  --red-4 : #6C567B;

  /*green pallette*/
  --green-0 : green;
  --green-1 : #E1F0DA;
  --green-2 : #D4E7C5;
  --green-3 : #BFD8AF;
  --green-4 : #99BC85;

  /*blue pallette*/
  --blue-0 : blue;
  --blue-1 : #E8ECF1;
  --blue-2 : #B5CFD8;
  --blue-3 : #7393A7;
  --blue-4 : #6C737E;

  /*yellow pallette*/
  --yellow-0 : yellow;
  --yellow-1 : #FFF2CC;
  --yellow-2 : #FFD966;
  --yellow-3 : #F4B183;
  --yellow-4 : #DFA67B;

  /*black pallette*/
  --black-0 : black;
  --black-1 : #6c757d;
  --black-2 : #495057;
  --black-3 : #343a40;
  --black-4 : #333533;
  --black-5 : #212529;
  --black-6 : #242423;

  /*white pallette*/
  --white-0 : white;
  --white-1 : #FDF7E4;
  --white-2 : #FAEED1;
  --white-3 : #DED0B6;
  --white-4 : #BBAB8C;
}

/*background colors*/
.bg-red-0{background-color: var(--red-0);}
.bg-red-1{background-color: var(--red-1);}
.bg-red-2{background-color: var(--red-2);}
.bg-red-3{background-color: var(--red-3);}
.bg-red-4{background-color: var(--red-4);}

.bg-green-0{background-color: var(--green-0);}
.bg-green-1{background-color: var(--green-1);}
.bg-green-2{background-color: var(--green-2);}
.bg-green-3{background-color: var(--green-3);}
.bg-green-4{background-color: var(--green-4);}

.bg-blue-0{background-color: var(--blue-0);}
.bg-blue-1{background-color: var(--blue-1);}
.bg-blue-2{background-color: var(--blue-2);}
.bg-blue-3{background-color: var(--blue-3);}
.bg-blue-4{background-color: var(--blue-4);}

.bg-yellow-0{background-color: var(--yellow-0);}
.bg-yellow-1{background-color: var(--yellow-1);}
.bg-yellow-2{background-color: var(--yellow-2);}
.bg-yellow-3{background-color: var(--yellow-3);}
.bg-yellow-4{background-color: var(--yellow-4);}

.bg-black-0{background-color: var(--black-0);}
.bg-black-1{background-color: var(--black-1);}
.bg-black-2{background-color: var(--black-2);}
.bg-black-3{background-color: var(--black-3);}
.bg-black-4{background-color: var(--black-4);}
.bg-black-5{background-color: var(--black-5);}
.bg-black-6{background-color: var(--black-6);}

.bg-white-0{background-color: var(--white-0);}
.bg-white-1{background-color: var(--white-1);}
.bg-white-2{background-color: var(--white-2);}
.bg-white-3{background-color: var(--white-3);}
.bg-white-4{background-color: var(--white-4);}


/*Border colors*/
.border-red-0{border-color: var(--red-0);}
.border-red-1{border-color: var(--red-1);}
.border-red-2{border-color: var(--red-2);}
.border-red-3{border-color: var(--red-3);}
.border-red-4{border-color: var(--red-4);}

.border-green-0{border-color: var(--green-0);}
.border-green-1{border-color: var(--green-1);}
.border-green-2{border-color: var(--green-2);}
.border-green-3{border-color: var(--green-3);}
.border-green-4{border-color: var(--green-4);}

.border-blue-0{border-color: var(--blue-0);}
.border-blue-1{border-color: var(--blue-1);}
.border-blue-2{border-color: var(--blue-2);}
.border-blue-3{border-color: var(--blue-3);}
.border-blue-4{border-color: var(--blue-4);}

.border-black-0{border-color: var(--black-0);}
.border-black-1{border-color: var(--black-1);}
.border-black-2{border-color: var(--black-2);}
.border-black-3{border-color: var(--black-3);}
.border-black-4{border-color: var(--black-4);}
.border-black-5{border-color: var(--black-5);}
.border-black-6{border-color: var(--black-6);}

.border-white-0{border-color: var(--white-0);}
.border-white-1{border-color: var(--white-1);}
.border-white-2{border-color: var(--white-2);}
.border-white-3{border-color: var(--white-3);}
.border-white-4{border-color: var(--white-4);}

* {
  box-sizing: border-box;
}

body {margin: 0 auto;}

.max-width-1{max-width: 1600px;}
.max-width-2{max-width: 1200px;}
.max-width-3{max-width: 992px;}
.max-width-4{max-width: 768px;}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row{width: 100%;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-1 {width: 100%;}
  .col-2 {width: 100%;}
  .col-3 {width: 100%;}
  .col-4 {width: 100%;}
  .col-5 {width: 100%;}
  .col-6 {width: 100%;}
  .col-7 {width: 100%;}
  .col-8 {width: 100%;}
  .col-9 {width: 100%;}
  .col-10 {width: 100%;}
  .col-11 {width: 100%;}
  .col-12 {width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}


.border
{
  border-style: solid;
  border-width: 1px;
}

/*border radius*/
.radius-1{border-radius: 1px;}
.radius-2{border-radius: 2px;}
.radius-3{border-radius: 3px;}
.radius-4{border-radius: 4px;}
.radius-5{border-radius: 5px;}
.radius-6{border-radius: 6px;}
.radius-7{border-radius: 7px;}
.radius-8{border-radius: 8px;}
.radius-9{border-radius: 9px;}
.radius-10{border-radius: 10px;}
.radius-15{border-radius: 15px;}
.radius-20{border-radius: 20px;}

/*padding options as pixels*/
.p-1{padding: 1px;}
.p-2{padding: 2px;}
.p-3{padding: 3px;}
.p-4{padding: 4px;}
.p-5{padding: 5px;}

/*padding left options as pixels*/
.pl-1{padding-left: 1px;}
.pl-2{padding-left: 2px;}
.pl-3{padding-left: 3px;}
.pl-4{padding-left: 4px;}
.pl-5{padding-left: 5px;}


/* Margin options as pixels*/
.m-1{margin: 1px;}
.m-2{margin: 2px;}
.m-3{margin: 3px;}
.m-4{margin: 4px;}
.m-5{margin: 5px;}
.m-10{margin: 10px;}
.m-15{margin: 15px;}
.m-20{margin: 20px;}

/* Margin top options as pixels*/
.mt-1{margin-top: 1px;}
.mt-2{margin-top: 2px;}
.mt-3{margin-top: 3px;}
.mt-4{margin-top: 4px;}
.mt-5{margin-top: 5px;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}

/*basic height definitions*/
.vh-1{height: 10px;}
.vh-2{height: 20px;}
.vh-3{height: 30px;}
.vh-4{height: 40px;}
.vh-5{height: 50px;}

.justify-content-center
{
  display: flex;
  justify-content: center;
}

.justify-content-right
{
  display: flex;
  justify-content: end;
}

.justify-content-left
{
  display: flex;
  justify-content: start;
}

.vertical-align-center
{
  display: flex;
  align-items: center;
}

.vertical-align-top
{
  display: flex;
  align-items:start;
}

.vertical-align-bottom
{
  display: flex;
  align-items: end;
}

.logo{width: 32px; height: 32px;}

.vertical-navbar
{
  width: 100%;
}

.vertical-navbar a
{
  display: block; /* Make the links appear below each other */
  text-decoration: none; /* Remove underline from links */
  padding: 5px;
}

.vertical-navbar a:hover {
  text-decoration: underline;
}

.text-black{color: black;}
.text-white{color: white;}

.shadow-1{box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
.shadow-2{box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.shadow-3{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

.display-block{display: block;}

